################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreBeliefsSurvey
/Client/bin/Debug/net7.0
/Client/obj
/Server/obj
/Shared/bin/Debug/net7.0
/Shared/obj
/CoreBeliefsSurvey.Console/obj
/CoreBeliefsSurvey.Console/bin/Debug/net7.0
/Server/bin/Debug/net7.0
/.vs/ProjectEvaluation
/.vs
/CoreBeliefsSurvery.Server.Test/bin/Debug/net7.0
/CoreBeliefsSurvery.Server.Test/obj/Debug/net7.0
/CoreBeliefsSurvery.Server.Test/obj
