.belief-card {
    margin-bottom: 20px;
}

.positive {
    background-color: white;
}

.negative {
    background-color: white;
}

.rounded-corners {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: white;
    padding: 10px;
    width: 400px;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px;
}

@media (max-width: 480px) {
    .card {
        width: 250px;
    }
}
