@page "/"
@using CoreBeliefsSurvey.Shared.Models
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

@using System.Text.Json

@if (!loadingBeliefs)
{
    @if (string.IsNullOrEmpty(selectedOption))
    {
        <QuestionSelectionComponent OnBeliefNumberSelected="BeliefNumberSelectedAsync" />
    }
}
<h1>Did I start?</h1>
@if (loadingBeliefs)
{
    <p><em>Loading...</em></p>
}
else if (selectedOption != null)
{
    <h3>Beliefs</h3>

    <div class="belief-container">
        @foreach (var belief in filteredBeliefs)
        {
            <BeliefCard Belief="@belief" OnOptionSelected="HandleOptionSelected" />
        }
    </div>

    <p>Questions answered: @questionsAnswered of @filteredBeliefs.Length</p>

    <button class="btn btn-primary" @onclick="NavigateToSummary">Submit</button>
}

@code {
    private CoreBelief[] allBeliefs;
    private CoreBelief[] filteredBeliefs;
    private string selectedOption;
    private int questionsAnswered = 0;
    private bool loadingBeliefs = true;
    private List<CoreBeliefResponse> beliefResponses;

    protected override async Task OnInitializedAsync()
    {
        beliefResponses = new List<CoreBeliefResponse>();
        await LoadBeliefs();
    }

    private async Task LoadBeliefs()
    {
        allBeliefs = await Http.GetFromJsonAsync<CoreBelief[]>("api/Beliefs");
        loadingBeliefs = false;
    }

    private void FilterBeliefs()
    {
        var random = new Random();
        var randomizedBeliefs = allBeliefs.OrderBy(x => random.Next()).ToArray();
        selectedOption = selectedOption ?? "All";
        filteredBeliefs = selectedOption == "All" ? randomizedBeliefs : randomizedBeliefs.Take(int.Parse(selectedOption)).ToArray();
        questionsAnswered = 0; // Reset the questions answered counter
    }

    private async Task HandleOptionSelected((CoreBelief Belief, int SelectedValue) option)
    {
        UpdateBeliefResponse(option.Belief, option.SelectedValue);
        questionsAnswered++;
        await InvokeAsync(StateHasChanged);
    }


    private async Task BeliefNumberSelectedAsync(int value)
    {
        questionsAnswered = 0;
        if (value < 0)
        {
            selectedOption = "All";
        }
        else
        {
            selectedOption = value.ToString();
        }
        FilterBeliefs();
        await InvokeAsync(StateHasChanged); // Update the component
    }

    public void UpdateBeliefResponse(CoreBelief belief, int selectedValue)
    {
        var beliefResponse = beliefResponses.FirstOrDefault(r => r.Belief == belief);
        if (beliefResponse != null)
        {
            beliefResponse.SelectedValue = selectedValue;
        }
        else
        {
            beliefResponse = new CoreBeliefResponse
                {
                    Belief = belief,
                    SelectedValue = selectedValue
                };
            beliefResponses.Add(beliefResponse);
        }
    }

    public CoreBeliefResponse GetBeliefResponse(CoreBelief belief)
    {
        return beliefResponses.FirstOrDefault(r => r.Belief == belief);
    }

    private async Task NavigateToSummary()
    {
        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "beliefResponses", JsonSerializer.Serialize(beliefResponses));
        NavManager.NavigateTo("/summary");
    }

}
