@page "/"
@using CoreBeliefsSurvey.Shared.Models
@using Telerik.Blazor.Components
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@inject NavigationManager NavManager

@using Microsoft.AspNetCore.Components

@if (!loadingBeliefs){
<TelerikComboBox Data="@numberOfQuestionsOptions"
                 Value="@selectedOption"
                 ValueChanged="EventCallback.Factory.Create<int?>(this, OnSelectedOptionChanged)"
                 Placeholder="Select number of questions"
                 ClearButton="true">
</TelerikComboBox>
}

@if (loadingBeliefs)
{
    <p><em>Loading...</em></p>
}
else if (selectedOption.HasValue)
{
    <h3>Beliefs</h3>

    <div class="belief-container">
        @foreach (var belief in filteredBeliefs)
        {
            <BeliefCard Belief="@belief" OnOptionSelected="OnOptionSelected" />
        }
    </div>

    <p>Questions answered: @questionsAnswered of @filteredBeliefs.Length</p>

    <button class="btn btn-primary" @onclick="NavigateToSummary">Submit</button>
}

@code {
    private CoreBelief[] allBeliefs;
    private CoreBelief[] filteredBeliefs;
    private int? selectedOption;
    private int questionsAnswered = 0;
    private bool loadingBeliefs = true;
    private List<int?> numberOfQuestionsOptions = new List<int?> { 5, 10, 25, 50, null };  // Use null for 'All' option

    protected override async Task OnInitializedAsync()
    {
        await LoadBeliefs();
    }

    private async Task LoadBeliefs()
    {
        allBeliefs = await Http.GetFromJsonAsync<CoreBelief[]>("api/Beliefs");
        loadingBeliefs = false;
        FilterBeliefs();
    }

    private void FilterBeliefs()
    {
        var random = new Random();
        var randomizedBeliefs = allBeliefs.OrderBy(x => random.Next()).ToArray();
        filteredBeliefs = selectedOption.HasValue ? randomizedBeliefs.Take(selectedOption.Value).ToArray() : randomizedBeliefs;
        questionsAnswered = 0; // Reset the questions answered counter
    }

    private async Task OnSelectedOptionChanged(int? value)
    {
        selectedOption = value;
        FilterBeliefs();
        await Task.CompletedTask;
    }

    private void OnOptionSelected()
    {
        questionsAnswered++;
        StateHasChanged(); // Update the UI after answering a question
    }

    private void NavigateToSummary()
    {
        NavManager.NavigateTo("/summary");
    }
}
