@page "/"
@using CoreBeliefsSurvey.Shared.Models
@using Telerik.Blazor.Components
@inject HttpClient Http

<h3>Beliefs</h3>

@if (beliefs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="belief-container">
        @foreach (var belief in beliefs)
        {
            <BeliefCard Belief="@belief" />
        }
    </div>
}

@code {
    private CoreBelief[] beliefs;

    protected override async Task OnInitializedAsync()
    {
        beliefs = await Http.GetFromJsonAsync<CoreBelief[]>("api/Beliefs");
    }
}
